<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/bde27f03-8b06-4bdf-bdfd-ad78ca0b73a5/resourceGroups/FretNaut/providers/Microsoft.ApiManagement/service/FretAPI/apis/FretAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/bde27f03-8b06-4bdf-bdfd-ad78ca0b73a5/resourceGroups/FretNaut/providers/Microsoft.Web/sites/Fretnaut</ResourceId>
    <ResourceGroup>FretNaut</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://fretnaut.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e6207eaa-d090-4775-9ffb-cccf0aa19402</ProjectGuid>
    <PublishUrl>https://fretnaut.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Fretnaut</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>